.braslets{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__block{
    position: relative;
    padding: 20px;
    border-radius: 4px;
    background: #000;
    margin: 20px;

    &-item{
      list-style: none;
      text-decoration: none;
      color: #fff;
    }

    &-close{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}